*,
*::before,
*::after,
*:focus,
*:hover,
*:checked {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a,
button,
input,
label {
    outline: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

html,
body {
    font-size: 16px;
    overflow-x: hidden;
    height: 2000px;
    min-width: 320px;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}