$width-1440: 1440px;
$width-1200: 1200px;
$width-960: 960px;
$width-800: 800px;
$width-600: 600px;
$width-480: 480px;
$width-360: 360px;
$width-320: 320px;
$green: #90A743;
$orange: #E49437;
$black: #61615F;

@media (max-width: $width-1440) {

    .header .header__column--left {

        & .left-column__center-block {

            & .header-suptitle {
                position: relative;
                left: 40px;
            }

            & .header-subtitle {
                position: relative;
                left: 40px;
            }

            & h1 {
                position: relative;
                left: 40px;
                font-size: 22px;
            }
        }

        & .left-column__top-block {
            & .header-social {
                &::before {
                    right: 10px;
                }

                &::after {
                    width: calc(100% - 50px);
                }

                & .row-social-top {
                    &::before {
                        right: 37px;
                    }
                    &::after {
                        width: calc(100% - 65px);
                    }

                    & .address p {
                        font-size: 12px;
                        letter-spacing: 0em;
                        line-height: normal;
                    }
                }

                & .row-social-down {
                    & .telephones {
                        margin-right: 20px;

                        & svg {
                            width: 16px;
                            height: 16px;
                            margin-right: 10px;
                        }

                        & .numbers a {
                            font-size: 11px;

                            &:nth-child(1) {
                                margin-right: 10px;
                            }
                        }
                    }

                    & .email {
                        & a {
                            font-size: 11px;
                        }

                        & svg {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }

        & .left-column__bottom-block {
            & .head-bottom--left span {
                font-size: 13px;
            }

            & .head-bottom--right span {
                font-size: 13px;
            }
        }
    }
    .header .header__column--right .menu-wrap .menu li a span {
        font-size: 11px;
    }
}

@media (max-width: $width-1200) {

    .header {
        background: transparent;

        & .header__column--left {

            & .left-column__center-block {
                &::after {
                    width: calc(30% - 0px);
                }

                & .header-suptitle {
                    position: relative;
                    left: 46px;
                    font-size: 13px;
                }

                & .header-subtitle {
                    position: relative;
                    left: 46px;
                    font-size: 13px;
                }

                & h1 {
                    position: relative;
                    left: 46px;
                    font-size: 16px;
                }
            }

            & .left-column__top-block {
                & .header-img {
                    max-width: 300px;

                    & img {
                        object-fit: cover;
                    }
                }

                & .header-social {
                    &::before {
                        right: 0;
                    }

                    &::after {
                        width: calc(100% - 40px);
                    }

                    & .row-social-top {
                        &::before {
                            right: 35px;
                        }

                        & .address p {
                            font-size: 12px;
                            letter-spacing: 0em;
                            line-height: normal;
                        }
                    }

                    & .row-social-down {
                        & .telephones {
                            margin-right: 10px;

                            & svg {
                                //width: 15px;
                                //height: 15px;
                                //margin-right: 5px;
                                display: none;
                            }

                            & .numbers a {
                                font-size: 10px;
                                line-height: 15px;

                                &:nth-child(1) {
                                    margin-right: 6px;
                                }
                            }
                        }

                        & .email {
                            & a {
                                font-size: 10px;
                                line-height: 15px;
                            }

                            & svg {
                                //margin-left: 5px;
                                //width: 15px;
                                //height: 15px;
                                display: none;
                            }
                        }
                    }
                }
            }

            & .left-column__bottom-block {

                &::before {
                    width: calc(100% - 13px);
                }

                & .head-bottom--left span {
                    font-size: 12px;
                }

                & .head-bottom--right span {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: $width-960) {

    .header {
        max-height: 340px;

        & .header__column--left {

            & .left-column__top-block {
                & .header-img {
                    max-width: 250px;

                    &::before, &::after {
                        border-width: 3px;
                    }

                    &::after {
                        right: -3px;
                        bottom: -11px;
                    }

                    & img {
                        object-fit: cover;
                        border-width: 3px;
                    }
                }

                & .header-social {

                    &::before, &::after {
                        border-width: 3px;
                    }

                    &::before {
                        top: -63px;
                    }

                    &::after {
                        left: 13px;
                    }

                    & .row-social-top {
                        &::before, &::after {
                            border-width: 3px;
                        }

                        &::before {
                            top: -51px;
                        }

                        & .address {
                            max-width: 85%;
                            & p {
                                font-size: 11px;
                            }
                        }
                    }

                    & .row-social-down {
                        padding: 0 20px;

                        & .telephones {
                            float: none;

                            & .numbers {
                                position: relative;
                                display: block;
                                float: none;

                                & a {
                                    display: block;
                                    float: none;
                                    margin: 0 !important;
                                }
                            }
                        }

                        & .email {
                            float: none;

                            & a {
                                position: relative;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }

            & .left-column__center-block {
                height: 100px;

                &::after {
                    width: calc(30% - 0px);
                    height: calc(100% + 24px);
                    border-width: 3px;
                }

                &::before {
                    height: 3px;
                }

                & .header-suptitle {
                    position: relative;
                    left: 46px;
                    font-size: 13px;
                }

                & .header-subtitle {
                    position: relative;
                    left: 46px;
                    font-size: 13px;
                }

                & h1 {
                    text-align: center;
                    position: relative;
                    left: 46px;
                    font-size: 16px;
                    max-width: 60%;
                    margin: 5px 0;
                }

                & img {
                    max-height: 100px;
                    border-width: 3px;
                }
            }

            & .left-column__bottom-block {
                width: 95%;

                &::before {
                    height: 3px;
                    top: -11px;
                    width: calc(100% - 40px);
                }

                & .head-bottom--left {
                    margin-right: 10px;

                    & img {
                        margin-right: 15px;
                    }
                }

                & .head-bottom--right {
                    & img {
                        margin-right: 15px;
                    }
                }
            }
        }

        & .header__column--right {
            min-width: 230px;

            &::before, &::after {
                border-width: 3px;
            }

            &::before {
                width: 15px;
            }

            & .menu-wrap {

                & .menu {

                    & li {
                        height: 27px;
                        & a {
                            & svg {
                                width: 18px;
                                height: 18px;
                            }

                            & span {
                                font-size: 10px;
                                letter-spacing: 0.05em;
                            }
                        }
                    }

                    & .select-lang {
                        margin-top: 10px;
                        margin-left: 16px;

                        &__option {

                            & svg {
                                width: 17px;
                                height: 17px;
                            }

                            & span {
                                color: #000;
                                margin-left: 8px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            & .header__block--bottom--right {
                border-width: 3px;

                &::before, &::after {
                    border-width: 3px;
                }

                &::before {
                    top: -10px;
                }

                &::after {
                    top: -22px;
                }
            }
        }
    }
}

@media (max-width: $width-800) {

    .header {
        max-height: 310px;
        position: relative;
    }

    .header .header__column--left {

        & .left-column__top-block {
            height: 70px;

            & .header-social {
                & .row-social-top {
                    & .address {
                        position: relative;
                        left: -12px;
                        max-width: 80%;
                        & p {
                            line-height: 11px;
                        }
                    }
                }
                & .row-social-down {
                    & .telephones {
                        & .numbers {
                            display: flex;
                            & a {
                                font-size: 9px;
                                display: block;
                                &:nth-child(1) {
                                    margin-right: 6px !important;
                                }
                            }
                        }
                    }
                    & .email {
                        & a {
                            font-size: 9px;
                        }
                    }
                }
            }
        }

        & .left-column__center-block {

            &::before {
                max-width: calc(100vw - 307px);
                min-width: 200px;
                left: 30px;
                transform: none;
            }

            & h1 {
                text-align: center;
                font-size: 15px;
                max-width: 60%;
                left: 10px;
                margin: 4px 0;
            }

            & .header-suptitle, .header-subtitle {
                font-size: 0.73em;
                left: 10px;
            }
        }

        & .left-column__bottom-block {
            left: -115px;
            width: 60%;

            &::before {
                width: calc(80vw - 160px);
                left: 20px;
            }

            & .head-bottom--left {
                margin-right: 0px;
                & img {
                    width: 45px;
                    height: 47px;
                    margin-right: 4px;
                }

                & span {
                    font-size: 10px;
                }
            }

            & .head-bottom--right {
                & img {
                    width: 50px;
                    height: 50px;
                    margin-right: 4px;
                }

                & span {
                    font-size: 10px;
                }

            }
        }
    }

    .header .header__column--right {
        position: absolute;
        right: 10px;
        max-width: 230px;

        & .menu-wrap {
            position: absolute;
            left: auto;
            right: -15px;
            max-width: 230px;
            height: 100%;
        }

        & .menu-wrap .menu {
            width: 100%;
            height: 100%;
            transform: translateX(130%);
            opacity: 0;
            background: #fff;
            display: flex;
            padding-left: 7px;
            flex-direction: column;
            justify-content: space-between;
            z-index: 100;

            & .select-lang {
                margin-top: 0px;
                margin-left: 8px;
                z-index: 150;
            }
        }

        & .menu-wrap input {
            z-index: 21;

            &:checked {
                ~ .menu {
                    transform: translateX(0);
                    opacity: 1;
                }

                ~ label span:nth-child(1) {
                    transform: rotate(45deg);
                    width: calc(70% + 4px);
                }

                ~ label span:nth-child(2) {
                    transform: scale(0.3);
                    width: 50%;
                    opacity: 0;
                }

                ~ label span:nth-child(3) {
                    transform: rotate(-45deg);
                    width: calc(70% + 4px);
                }
            }
        }

        & .menu-wrap label {
            display: flex;
            z-index: 21;
        }

        & .header__block--bottom--right {
            &::after {
                top: -22px;
            }
        }
    }
}

@media (max-width: $width-600) {

    .header {
        height: 100vh;
        max-height: none;
    }

    .header .header__column--left {

        & .left-column__top-block {
            height: auto;
            flex-direction: column;
            align-items: center;
            width: auto;
            max-width: none;
            & .header-img {
                display: block;

                &::before, &::after {
                    display: none;
                }
                & img {
                    border-right: 4px solid $orange;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 20px;
                    border-width: 2px;
                }
            }
            & .header-social {
                display: block;
                width: 100%;
                margin-top: 0px;
                &::before, &::after {
                    display: none;
                    border: none;
                }

                & .row-social-top {
                    margin: 8px 0;
                    &::before, &::after {
                        display: none;
                    }
                    & .address {
                        max-width: none;
                        padding: 0 30px;
                        left: 0;
                        & p {
                            line-height: 18px;
                            font-size: 13px;
                        }
                    }
                }
                & .row-social-down {
                    padding: 0;
                    & .telephones {
                        margin-right: 30px;
                        & .numbers {
                            & a {
                                font-size: 10px;
                            }
                        }
                    }
                    & .email {
                        & a {
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        & .left-column__center-block {
            &::before, &::after {
                display: none;
            }
            & img {
                border: none;
                padding: 0;
                border-radius: 0;
                position: relative;
                left: 0;
                margin-top: 20px;
            }
            & .header-suptitle, .header-subtitle, h1 {
                left: 0;
                font-size: 0.7em;
            }
            & h1 {
                margin: 4px 0;
                font-size: 14px;
                max-width: 80%;
            }
        }

        & .left-column__bottom-block {
            width: 100%;
            left: 0;

            &::before {
                display: none;
            }
            & .head-bottom--left {
                & span {
                    font-size: 9px;
                }
            }
            & .head-bottom--right {
                & span {
                    font-size: 9px;
                }
            }
        }
    }

    .header .header__column--right {
        max-width: none;
        width: 100%;
        right: 0;

        & .menu-wrap {
            right: 0;
            max-width: none;
            & .menu {
                width: 100%;
                padding: 0;
                justify-content: center;
                align-items: center;

                & li {
                    min-width: 200px;
                }

                & .select-lang {
                    margin-top: 40px;
                    width: 50%;
                    margin-left: 0;
                }
            }

            & input, label {
                top: 30px;
                right: 30px;
            }
        }

        &::before, &::after {
            display: none;
        }

        & .header__block--bottom--right {
            display: none;
        }
    }
}

@media (max-width: 480px) {

    .container {
        padding: 0 5px;
    }

    .header .header__column--left {

        & .left-column__top-block {

            & .header-social {
                position: relative;
                min-width: 90%;
                margin-top: 10px;

                & .row-social-top {
                    margin: 0 auto;
                    max-width: 80%;

                    & .address p {
                        font-size: 11px;
                        line-height: 13px;
                    }
                }

                & .row-social-down {
                    margin-top: 10px;

                    & .telephones {
                        margin-right: 0;
                        & .numbers {
                            display: flex;
                            margin-left: 0;

                            & a {
                                font-size: 10px;
                                margin: 0 5px;
                            }
                        }
                    }

                    & .email {
                        margin-left: 10px;

                        & a {
                            line-height: 10px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }

        & .head--left-bottom {

            & .head-bottom--left {
                width: 50%;
                margin-right: 0;

                & span {
                    font-size: 9px;
                }

                & img {
                    width: 40px;
                    height: 41px;
                }
            }

            & .head-bottom--right {
                max-width: 40%;

                & span {
                    font-size: 9px;
                }

                & img {
                    width: 40px;
                    height: 41px;
                }
            }
        }
    }

    .header .header__column--right {

        & .header__block--bottom--right {

            & img {
                display: none;
            }

            & .right-bottom-line--3, .right-bottom-line--4 {
                width: calc(100vw - 10px);
            }
        }

        & .menu-wrap {

            & label, input {
                top: 20px;
                right: 20px;
                width: 21px;
                height: 15px;

                & span {
                    height: 2px;
                }
            }

            & .menu {
                & .select-lang {
                    width: 60%;
                }
            }
        }
    }
}

@media (max-width: 360px) {

    .container {
        padding: 0 5px;
    }

    .header .header__column--left {

        & .left-column__top-block .header-social {
            margin-top: 10px;

            & .row-social-top {
                & .address {
                    & p {
                        font-size: 10px;
                    }
                }
            }

            & .row-social-down {
                column-gap: 0;
                margin-top: 10px;

                & .telephones {
                    margin-right: 3px;

                    & .numbers a {
                        font-size: 9px;
                    }
                }

                & .email {
                    position: relative;
                    top: -1px;
                    & a {
                        font-size: 9px;
                    }
                }
            }
        }
    }

    .header .header__column--right {

        & .menu-wrap {

            & label, input {
                top: 20px;
                right: 10px;
                width: 20px;
                height: 15px;

                & span {
                    height: 2px;
                }
            }

            & .menu {
                padding: 30px 0;

                & li {
                    float: left;
                }
            }
        }
    }

}

@media (max-width: 320px) {

    .header .header__column--left {

        & .left-column__center-block {
            & h1 {
                max-width: 80%;
                font-size: 12px;
            }

            & .header-subtitle, .header-suptitle {
                font-size: 0.65em;
            }

            & img {
                max-height: 80px;
            }
        }

        & .head--left-bottom {

            & .head-bottom--left {

                & span {
                    font-size: 8px;
                }

                & img {
                    width: 40px;
                    height: 41px;
                }
            }

            & .head-bottom--right {
                max-width: 45%;

                & span {
                    font-size: 8px;
                }

                & img {
                    width: 40px;
                    height: 41px;
                }
            }
        }
    }
}


























